.img{
    width: 300px;
    height: 300px;

}
.mm{
    margin-left: 100px;
}
.r{
    margin-left: 00px;
    font-size: 20px;
}
.btn{
    font-size: 20px;
    background-color: white;
    color: rgb(145, 141, 141);
}
.aa{
    color: rgb(138, 135, 135);
}