*{
    margin: 0px;
}
ul{
    display: flex;
    background-color: bisque;
    color: black;
    padding: 5px;
}
ul li{
    list-style: none;

}
.navi{
    background-color: rgb(46, 43, 43);
    display: flex;
    color: white;
    justify-content: space-between;

}
.left{
    display: flex;
    margin-top: 40px;
    margin-right: 600px;
}
.left div{
    margin: 0 20px;
    justify-content: center;
}
.search{
    margin-top: 40px;
    border-style: inherit;
    border-color: rgb(59, 58, 58);
}
.log{
    margin-left: 300px;
}
.ss{
    background-color: rgb(65, 60, 60);
}
